version: '3'
services:
  checker:
    container_name: session-checker
    build:
      context: .
      dockerfile: ./Dockerfile.test
    depends_on:
        - redis
    ports:
     - "8080:8080"
    command: /session-checker --redis-server redis:6379
  redis:
    container_name: redis
    image: redis:latest
    ports:
        - "6379:6379"
    command: redis-server
